body{
	font-family:"Times New Roman",Georgia,Serif;
	margin: 0px auto; /*margin properties set the size of the white space OUTSIDE the border*/
	background-color:#ccccff;
	}
#backcolor
{
	background-color:#ffb380;
}
#header1{
	background-color: skyblue;
	height: 72px;
}
#header2{
	background-color: red;
	height: 72px;
}
nav ul{
	margin-left:370px;
	margin-top:-104px;
	list-style:none;
	font-size:25px;
}

#list {
    margin-left:450px;
	margin-top:-104px;
	list-style:none;
	font-size:25px;
}

nav ul li{

	float:left; /*float property can be used to wrap tex*/
}

nav ul li a{

	display: block;
	white-space: nowrap; /*Specify that the text in nav ul li a elements will never wrap*/
	background-color: darkblue;
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 10px 20px 30px 15px; /*top padding is 10px right padding is 30px bottom padding is 10px left padding is 15px*/
	border: 1px solid #003366;
}

}

nav ul li a:hover
{
	background-color:#E6E6E6;
	color:blue;
}

nav li:hover ul
{
	display:block;
	position:absolute; /*The element is positioned relative to its first positioned (not static) ancestor element*/
}

nav li:hover li
{
	float: none; /*default*/
	bottom:none;
}

nav li:hover a
{
	color:black;
	background:white;
}

nav ul li ul li a
{
	text-align:left;
	padding-left:10px;
	padding-top:10px;

}
#banner {
	width: 100%;
	margin-top:50px;
}
