body{
	font-family:"Times New Roman",Georgia,Serif;
	margin: 0px auto; /*margin properties set the size of the white space OUTSIDE the border*/
	background-image: url("picture/background.jpg");
	}
#header #logo 
{
	float:left;
	margin-left:0px;
	margin-top:5px;
	width:205px;
	height:73px;
}
#header #button
{	
	padding-top:40px;
	float:right;
	clear:right;
	margin-right:0px
}
#header #button label 
{
	border-left:1px solid #DB802D;
	height:150px;
	padding-top:90px;
	padding-bottom:35px;
}
#header #button .button-style a
{
	padding:5px;
	text-shadow:#FFF -10px 0 .5em,#FFF 10px 0 .5em,#FFF -30px 0 1em,#FFF 30px 0 1em;
}
#header #button .button-style 
{
	padding-left:10px;
	padding-right:10px;
}
#header #button .button-style a:hover
{
	background:#DB802D;
	color:black
}
#backcolor
{
	background-color:#ffb380;
}

nav ul{
	margin-left:33%;
	margin-top:-7.5%;
	list-style:none;
	font-size:25px;
}

#list {
    margin-left:450px;
	margin-top:-104px;
	list-style:none;
	font-size:25px;
}

nav ul li{

	float:left; /*float property can be used to wrap tex*/
}

nav ul li a{

	display: block;
	white-space: nowrap; /*Specify that the text in nav ul li a elements will never wrap*/
	background-color: darkblue;
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 10px 20px 30px 15px; /*top padding is 10px right padding is 30px bottom padding is 10px left padding is 15px*/
	border: 1px solid #003366;
}

}

nav ul li a:hover
{
	background-color:#E6E6E6;
	color:blue;
}

nav li:hover ul
{
	display:block;
	position:absolute; /*The element is positioned relative to its first positioned (not static) ancestor element*/
}

nav li:hover li
{
	float: none; /*default*/
	bottom:none;
}

nav li:hover a
{
	color:black;
	background:white;
}

nav ul li ul li a
{
	text-align:left;
	padding-left:10px;
	padding-top:10px;

}
#banner {
	width: 100%;
	margin-top:50px;
}
#container-about #slogan{
	text-align:center;
	padding-top:80px;
	color:#000000;
	font-size:40px;
	font-family: Arial, Helvetica, sans-serif;
}
#about-bg {width:1024px;height:auto;margin-left:auto;margin-right:auto;}
#contact-content2{width:800px;padding-bottom:40px;margin-left:auto;margin-right:auto;margin-bottom:50px}
.contact-box2{ 
	float:left;
	clear:right;
	color:#6c6c6c; 
	padding:0px 15px 5px;
	background:#f1f1f1;
	font-size:18px;
	width:800px;
	line-height:2;
	font-family:Andalus;
	margin-bottom:50px;
}
