body {
	background: url(https://cloud.githubusercontent.com/assets/16029045/13034130/1e1523fe-d368-11e5-99f0-db4781000a83.jpg);
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 12px;
	color: #2e2e2e;
	text-align: center;
}

.clear {
	clear: both;
}



input {padding: 4px;color: #5b5b5b;border: 1px solid #dcdcdc;-moz-border-radius: 3px;-webkit-border-radius: 3px;-o-border-radius: 3px;}
input.login { width: 200px; margin: 5px 0 10px 0px;}

.button {
	cursor: pointer;
	padding: 4px 10px 4px 10px;
	color: #fff;
	background: url(img/green.jpg) repeat left center;
	border: 1px solid #71bb3b;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
.button:hover { color: #2e2e2e;}
.button:active { background: #71bb3b; color: #fff;}

#header {
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
	background: url(https://cloud.githubusercontent.com/assets/16029045/13034123/e304d7be-d367-11e5-98dd-850b57d95e7f.jpg) repeat left;
	height: 140px;
	z-index: 1000;
	-moz-box-shadow: 0px 0px 8px #dcdcdc;
	-webkit-box-shadow: 0px 0px 8px #dcdcdc;
}
.inHeader {
	float: center;
	background: url(img/logo.png) no-repeat left center;
	margin: auto;
	width: 920px;
	height: 110px;
	padding: 15px;
	border-right: 0px solid #dcdcdc;
	border-left: 0px solid #dcdcdc;
}

.mosAdmin {
	float: right;
	border: 0px solid #dcdcdc;
	margin: 0 1px 0 auto;
	text-align: right;
	padding: 10px 40px 10px 10px;
	background: url(https://cloud.githubusercontent.com/assets/16029045/13034109/479de13a-d367-11e5-93dd-9b7f83129da2.png) no-repeat right center;
	text-shadow: 1px 1px #fff;
}

#loginForm {
	width: 400px;
	height: 250px;
	border: 1px solid #dcdcdc;
	float: center;
	text-align: left;
	background:#fff url(https://cloud.githubusercontent.com/assets/16029045/13034138/45ba7c06-d368-11e5-803b-41399292c3fb.png) no-repeat left center;
	margin: 50px auto 0 auto;
	border-radius: 5px;
}
.headLoginForm {
	width: 380px;
	padding: 10px 0 10px 20px;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px #fff;
	text-align: center;
	height: 20px;
	border-bottom: 1px solid #dcdcdc;
	background: url(img/headerbg.jpg) repeat left center;
}
.fieldLogin {
	margin: 30px 5px 0 140px;
}
#wrapper {
	width: 950px;
	padding: 15px 0 0 0;
	position: relative;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	float: center;
	margin: auto;
	text-align: left;
	background: #fff url(https://cloud.githubusercontent.com/assets/16029045/13034116/8f9b97ac-d367-11e5-877a-4a20e7ff0eb4.png) repeat-y;
	box-shadow: 0px 0px 8px #dcdcdc;
}
#leftBar {
	width: 185px;
	float: left;
	padding: 0 0 20px 10px;
	border-right: 0px solid #dcdcdc;
	text-align: left;
}
#leftBar ul {list-style: none;padding: 0; margin: 0;font-size: 13px;}
#leftBar ul li {
	width: 164px;
	background: url(https://cloud.githubusercontent.com/assets/16029045/13034128/04f03e04-d368-11e5-9efa-96c272e96791.png) no-repeat left center, url(https://cloud.githubusercontent.com/assets/16029045/13034121/bbc26982-d367-11e5-84fe-ec50c9466168.jpg) repeat left center;
	padding: 10px 0 10px 10px; 
	margin-top: 8px;
	margin-left: auto;
	border: 1px solid #dcdcdc;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}
#leftBar ul li a {
	width: 100%;
	color: #2e2e2e;
    cursor: pointer;
	padding: 10px 0px 10px 20px;
    -webkit-transition: padding-left 250ms ease-out;
	-moz-transition: padding-left 250ms ease-out;
	text-decoration: none;
}
#leftBar ul li a:hover {
    padding-left: 30px;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px #496d2a;
}

#rightContent {
	width: 725px;
	padding-top: 10px;
	float: right;
	border-left: 0px solid #dcdcdc;
	text-align: left;
	background: #fff;
}
#rightContent h3 {
	font-size: 20px; 
	font-weight: normal; 
	padding: 0; margin: 5px; 
	border-bottom: 1px dashed #dcdcdc; 
}
.entryTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.entryTable .label {
	background-color: #EFEFEF;
}


.entryTable .content {
	background-color: #FFFFFF;
}
#listTableHeader {
	font-family: "Courier New", Courier, mono;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #3d8e00;
	font-weight: bold;
	background-position: center;
}
.row1 {
	background-color: #EFEFEF;
}

.row2 {
	background-color: #DEDEDE;
}
.Title{
	font-size : 20px;
}
.inHeaderLogin {
	background: url(https://cloud.githubusercontent.com/assets/16029045/13034148/7de963bc-d368-11e5-84da-ca9105b647cf.png) no-repeat left center;
	height: 130px;
	margin-left:10%;
}
